<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.5, maximum-scale=1">
    <title>Monitoring Service</title>
    <script type="text/javascript" th:src="@{js/clock.js}"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css?V1.1.6_0" th:href="@{/css/style.css?V1.1.6_0}">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class= "page" id="page_map">
    <div class="col-sm-3 ">
        <div class="col-sm-12 padding0" style="text-align: center">
            <img class="img_logo_1" src="./images/logo/logo.png">
        </div>
        <div class="col-sm-12 padding0">
            <table class="table">
                <tbody>
                <tr class="tr-table-statistics ng-scope">
                    <td colspan="2" class="head-td-table-statistics" style="font-family: Museo Sans Cyrl;text-align: center">Server status</td>
                </tr>
                <tr class="tr-table-statistics ng-scope">
                    <td class="head-td-table-statistics" style="font-family: Museo Sans Cyrl">Time</td>
                    <td id="clock" class="text-td-table-statistics ng-binding">Time</td>
                </tr>
                <tr class="tr-table-statistics ng-scope">
                    <td class="head-td-table-statistics" style="font-family: Museo Sans Cyrl">Time zone</td>
                    <td id="timeZone" class="text-td-table-statistics ng-binding">TimeZone</td>
                </tr>
                <tr class="tr-table-statistics ng-scope">
                    <td class="head-td-table-statistics" style="font-family: Museo Sans Cyrl">Version</td>
                    <td class="text-td-table-statistics ng-binding">1.0.0 [WIN]</td>
                </tr>
                <tr class="tr-table-statistics">
                    <td class="head-td-table-statistics" colspan="2" style="font-family: Museo Sans Cyrl;text-align: center">Application statistics</td>
                </tr>
                <tr class="tr-table-statistics">
                    <td class="head-td-table-statistics" style="font-family: Museo Sans Cyrl">Sensors</td>
                    <td class="text-td-table-statistics ng-binding" th:text="${sensorsCount}"/>
                </tr>
                <tr class="tr-table-statistics" ng-show="command_list_cookie.get_users">
                    <td class="head-td-table-statistics" style="font-family: Museo Sans Cyrl">Users</td>
                    <td class="text-td-table-statistics ng-binding" th:text="${usersCount}"/>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-sm-9 ">
        <a href="/sensors_location">
        <img class="img_construct" src="./images/construct.png" >
        </a>
    </div>
</div>

</body>
</html>