<div th:fragment="header">
    <header class="row">
        <div class="container">
            <div class="col-sm-12">
                <form th:action="@{/logout}" method="post">
                    <a href="/" style="text-decoration: none">
                <div class="btn btn-header">Home</div>
                    </a>
                    <a href="/sensors" style="text-decoration: none">
                <div class="btn btn-header">Sensors</div>
                    </a>
                <div class="btn btn-header">Settings</div>
                <div ng-show="command_list_cookie.get_users" class="btn btn-header" ng-class="check_page==4?'btn-header-active':''" ng-click="check_page=4;">Users</div>
                <div class="btn btn-header ng-hide" ng-show="WS.logs.count>0" ng-class="check_page==7?'btn-header-active':''" ng-click="check_page=7;">Console</div>
                    <div class="btn btn-header" onClick="javascript:this.parentNode.submit();">
                        Sign Out
                    </div>
                </form>
            </div>
        </div>



        <span class="v">MONITORING SERVER V1.0.0</span>
    </header>
</div>